@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lobster+Two:ital,wght@0,400;1,400;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --verde: #d8e2dc;
  --amarelo: #ffe5d9;
  --rosaClaro: #ffcad4;
  --rosaMedio: #f4acb7;
  --roxo: #9d8189;
  --roxoEscuro: #46393d;
}

html{
  height: fit-content;
}
body{
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
}

.header{
  height: 7vh;
}

.welcome{
  height: 93vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background{
  height: 93vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background-image: url(img/fundoCupcake.jpg);
  background-size: cover;
  z-index: -1000;
}

.menu{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7vh;
  backdrop-filter: blur(4px);
}
.menu h1{
  font-size: 150px;
  font-family: "lobster two", system-ui;
  font-style: italic;
  color: #fff;
}

.menu button{
  padding: 10px 75px;
  background-color: var(--rosaMedio);
  border-radius: 7px;
  border: none;
  font-family: 'Geologica', system-ui;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  transition: 0.25s;
}

.menu button:hover{
  cursor: pointer;
  background-color: var(--roxo);
}

.destaques{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#title-destaques{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  font-family: 'lobster two', system-ui;
  font-size: 40px;
  color: var(--roxo);
  background-color: var(--amarelo);

}


.images {
  display: flex;
  height: 45%;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 20px;
  background-color: var(--amarelo);
}

.image{
  height: 20%;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-family: "geologica", system-ui;
  font-size: 30px;
  color: var(--roxo);
  font-weight: 600;
}

.image div{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: c;
}

.image img{
  max-width: 450px;
  transition: 0.3s;
}

.image img:hover{
  cursor: pointer;
  scale: 1.05;
}

.rodape{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.rodape img{
  max-width: 400px;
  position: absolute;
  right: 130px;
  top: 0;
  z-index: 10000;
}

.fundo{
  height: 12vh;
  background-color: var(--amarelo);
  z-index: -10;
}

.faixa{
  height: 10vh;
  width: 100%;
}
.blur{
  height: 100%;
  width: 100%;
  backdrop-filter: blur(6px);
  font-family: 'lobster two', system-ui;
  font-size: 30px;
  color: #fff;
  font-style: italic;
  font-weight: 600;
  display: flex;
  align-items: center;

}
.blur p{
  margin-left: 30%;
}
.brownie{
  height: 100%;
  width: 100%;
  background-image: url(img/brownie.jpg);
  z-index: -10;
}

.social{
  height: 18vh;
  width: 100%;
  background-color: var(--roxo);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 80%;
  font-family: 'geologica', system-ui;
  font-size: 20px;
  font-weight: 300;
  color: #d8e2dc;
  margin-left: 10%;
}

.contact i{
  font-size: 25px;
  margin-right: 5px;
}

.lado1{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 20px;
}

.lado2{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 20px;
}